* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #009688; */
  background: linear-gradient(to bottom, #009688 0%,#009688 15%, #DADBD4 15%, #DADBD4 85%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* DEBUG */
.debug{
  background-color: rgba(255,0,0,.2);
  border: 1px solid black;
}

.debug div,
.debug nav{
  border: 1px solid black;
}

main {

}

img {
  width: 100%;
}

ul {

}

li {
  list-style: none;
}

i {
  font-size: 1.4rem;
}

.interface {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90vw;
  height: 95vh;
  display: flex;
  background-color: white;
}

/* PROFILE SECTION*/
.profile {
  width: 380px;
  flex-shrink: 0;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #eaeaea;
}

.options {
  width: 90px;
  display: flex;
  justify-content: space-between;
  margin-right: 25px;
  color: #b1b1b1;
}

/* NOTIFICATIONS */
.notifications {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #8edafc;
}

.notifications .pic {
}

.notifications .pic i {                /* DEBUG */
  color: #8edafc;
  padding: 15px 12.5px;
  border-radius: 50%;
  font-size: 1.25rem;
  background-color: white;
}

.link a {
  color: #4f7485;
}
/* /NOTIFICATIONS */

/* SEARCH-BAR */
.search-bar {
  height: 50px;
  padding: 7px;
  background-color: #fafafa;
}

.search-bar .inner {
  display: flex;
  align-items: center;
  height: 36px;
  border: 1px solid #f5f5f5;
  background-color: white;
}

.search-bar .inner i {
  margin: 10px 12px 8px;
  font-size: 1rem;
  color: #b6b9bb;
}

.search-bar .inner input {
  border: none;
  width: calc(100% - 7px);
  color: #b6b9bb;
}

.search-bar .inner input::placeholder{
  color: #b6b9bb;
}
/* /SEARCH-BAR */

/* USERS-BAR */
.users-bar {
  height: calc(100% - 200px);
  overflow-y: scroll;
}

.user {
  display: flex;
  height: 80px;
  border-bottom: 1px solid #f5f5f5;
}

.pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 100%;
}

.pic img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;
}

.users-bar .user .info {
  width: calc(100% - 130px)
}

.users-bar .user .info .last-message span {
  font-size: 14px;
  font-weight: 500;
  color: #b8bbbd;
}

.users-bar .user .time {
  padding: 15px 9px 0;
}

.users-bar .user .time span {
  font-size: 10px;
  color: #b6b9bb;
}
/* /USERS-BAR */
/* /PROFILE SECTION*/

/* CHAT SECTION*/
.chat {
  flex-grow: 1;
  border-left: 1px solid #d6d6d6;
  background-color: #f3eeea;
}

.chat .top-bar .user {
  height: 100%;
  border-bottom: none;
}

/* CHAT-BOX */
.chat .top-bar .user .info span {
  font-size: 14px;
  font-weight: 600;
  color: #6b7376;
}

.chat-box {
  display: flex;
  justify-content: center;
  height: calc(100% - 140px);
  overflow-y: scroll;
  background-image: url(/assets/img/mine.jpg);
}

.column {
  margin: 30px 25px 0;
  display: flex;
  flex-direction: column;
  width: 90%;                               /* DEBUG */
  /* height: 90%; */                        /* DEBUG */
}

.message {
  max-width: 436px;
  border-radius: 10px;
  background-color: white;
}

.message.sent {
  background-color: #d5f9ba;
}

.row {
  margin-bottom: 10px;
}

.row.sent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.top-inner {
  display: flex;
  padding: 15px;
}

.top-inner p{
  font-weight: 500;
}

.top-inner .tick i{
  font-size: 15px;
}

.bottom-inner {
  
}

.bottom-inner .time {
  display: flex;
  justify-content: flex-end;
}

.bottom-inner .time span{
  font-size: 10px;
  padding: 8px 5px;
  color: #b6b9bb;
}
/* /CHAT-BOX */

/* TYPING-BOX */
.typing-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #f3eeea;
}

.typing-box i {
  margin: 22.5px 27.5px;
  font-size: 25px;
  color: #6b7376;
}

.typing-box .input-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 50px;
  background-color: white;
}

.typing-box .input-text input {
  width: calc(100% - 20px);
  border: none;
  color: #afafaf;
}

.typing-box .input-text input::placeholder {
  color: #afafaf;
}
/* /TYPING-BOX */
/* /CHAT SECTION*/

/************************************************
SOLUZIONE RESPONSIVE
************************************************/

@media screen and (max-width: 992px){
  body{
    background-color: rgb(27, 147, 57)
  }

  .container {
    width: 100vw;
    height: 100vh;
  }

  .profile {
    width: max-content;
  }

  .profile .top-bar .options,
  .profile .notifications,
  .profile .search-bar,
  .profile .user .info,
  .profile .user .time{
    display: none;
  }

  .profile .users-bar {
    height: calc(100% - 170px);
  }
} 

@media screen and (max-width: 540px){
  body{
    background-color: rgb(147, 6, 6)
  }

  .profile,
  .chat .top-bar .options,
  .typing-box i{
    display: none;
  }
  
  .chat {
    width: 100vw;
    height: 100vh;
    border-left: none;
  }

  .typing-box .input-text {
    margin-left: 20px;
    margin-right: 20px;
  }
}